body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222; /* Fondo principal en un gris oscuro */
    background-image: url('https://i.gifer.com/AIHJ.gif'); /* URL del GIF animado */
    background-size: cover; /* Cubrir toda la pantalla */
    background-position: center; /* Centrar la imagen inicialmente */
    color: #fff; /* Color de texto principal en blanco */
}

.container {
    width: 100%;
    max-width: 500px; /* Aumento del ancho máximo para más espacio */
    margin: 40px;
    background-color: #000; /* Fondo del contenedor en negro */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    border-radius: 12px; /* Bordes redondeados más pronunciados */
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* Color de etiquetas en blanco */
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px;
    border: 2px solid #666; /* Borde de campos de entrada en gris medio */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px;
    background-color: #333; /* Fondo de campos de entrada en gris oscuro */
    color: #fff; /* Color de texto en campos de entrada en blanco */
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Color de borde al enfocar en azul */
    background-color: #444; /* Cambio de fondo al enfocar en gris más oscuro */
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    background-color: #c82333; /* Color de fondo para botones */
    color: #fff;
    border: none;
    padding: 14px 32px; /* Ajuste del padding */
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px; /* Forma redondeada más pronunciada */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a0106; /* Color de fondo más oscuro al pasar el mouse */
}
.logout-button {
    background-color: #dc3545; /* Color de fondo para botón de cerrar sesión en rojo */
}

.logout-button:hover {
    background-color: #a71d2a; /* Color de fondo al pasar el mouse en rojo más oscuro */
}

p {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc; /* Color de párrafos en gris claro */
}

h2 {
    color: #fff; /* Color de títulos en blanco */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.details-container {
    border: 2px solid #007bff; /* Borde sólido de color azul */
    border-radius: 12px; /* Bordes redondeados */
    padding: 20px;
    margin-top: 20px;
    max-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    font-family: 'Arial', sans-serif; /* Tipo de fuente */
    overflow: hidden; /* Para ocultar elementos que se desbordan */
    position: relative; /* Para establecer un contexto de apilamiento */
}
.details-container.show {
    opacity: 1; /* Visible cuando la clase show está presente */
    transform: translateY(0); /* Movimiento a su posición original */
}

.details-container p {
    margin: 12px 0; /* Espaciado entre párrafos */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto gris oscuro */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeInUp 0.5s forwards; /* Animación de entrada */
    animation-delay: 0.2s; /* Retraso para crear un efecto escalonado */
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.details-container .user-info {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 15px; /* Espacio adicional debajo */
    font-size: 18px; /* Tamaño de fuente para información destacada */
}

.details-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 15px; /* Espacio adicional arriba de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para la imagen */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeInUp 0.5s forwards; /* Animación de entrada */
    animation-delay: 0.2s; /* Retraso para crear un efecto escalonado */
}