body {
    background-color: #446b48;
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.contacto {
    border: 2px solid #92b998;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    margin-left: 150px;
    text-shadow: #446b48;
    margin-bottom: 10px;
}

#main {
    width: 500px;
    margin: 0 auto;
    background-color: #d3f3d7;
    height: 133vh;
    text-align: center;
    border-radius: 5%;
}

button {
    display: flex;
    padding: 6px;
    margin-left: 200px;
    margin-bottom: 10px;
}

#empresa {
    background-color: #c4d8c7;
    width: 300px;
    background-color: #c4d8c7;
    height: 30vh;
    text-align: center;
    margin-left: 120px;
    position: relative;
    bottom: 600px;
    border-radius: 10%;
}

#unetenos {
    background-color: #c4d8c7;
    width: 300px;
    background-color: #c4d8c7;
    height: 40vh;
    text-align: center;
    margin-left: 1030px;
    position: relative;
    bottom: 1000px;
    border-radius: 10%;
}

.circulo {
    width: 20px;
    height: 20px;
    background: #d3f3d7;
    border-radius: 50%;
    position: relative;
    bottom: 1200px;
    left: 400px;

}

.circulo1 {
    width: 20px;
    height: 20px;
    background: #d3f3d7;
    border-radius: 50%;
    position: relative;
    bottom: 1000px;
    left: 1000px;

}