body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.tarjeta-contacto {
    border: 1px solid #030303;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: rgb(222, 190, 190);
    text-align: center;
    margin-top: 50px;
  }
  .tarjeta-contacto:hover {
    transform: scale(1.05);
    background-color: rgb(82, 31, 37);
    border-radius: 5px;
    border: 1px solid #faf7f7;
    
  }

  #main {
    width: 340px;
    margin: 0 auto;
    background-color: rgb(79, 38, 38);
    height: 100vh;
    border: 1px solid #030303;
  }

h1:hover{
    transform: scale(1.30);
    border-radius: 5px;
    border: 1px solid #faf7f7;
    background-color: #f0f0f0;
    
  }
    h1 {
        text-align: center;
    }
  
