body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 47, 102, 0.6223739495798319) 35%, rgba(0, 212, 255, 1) 100%);
}

.caja_contenedor {
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 20px 20px 20px 50px 10px #000;
}

h3 {
    text-transform: uppercase;
}

.contenedor {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(199, 199, 199, 1) 100%);
    width: 400px;
    margin: auto;
    border: solid 1px #fff;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 20px 20px 50px 10px #8e8c8c;
}

.Titulo,
.Titulo__Parrafo {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}