body {
    background-color: #010439;
    min-height: 100vh;
}

#root {
    margin: 0 auto;
    max-width: 500px;
}
nav{
    width: 100%;
    justify-content: space-between;
}
nav li{
    color:rgb(255, 255, 255);
}
a:hover{
    cursor: pointer;

}