body {
    background-color: #cccccc;
    height: 100vh;
}

#root {
    margin: 0 auto;
    max-width: 500px;
}
img {
    background-color: #ADD9E6;
    border-radius: 10px;
}
h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    
}
header {
    font-size: 30px;
}
