body {
    background-color: #a9a9a9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#agendacontactos {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#agendacontactos h1{
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}