*{
    margin: 0;
    padding: 0;
    border: 0;
}

.body,#root {
    font-family: Arial, sans-serif;
    width: 100%;    
    min-height: 100vh;
}

.Lista-productos{
    width: 38%;    
    display: flex;  
    flex-direction: column;    
    flex-wrap: wrap;  
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.titulo-boton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.h1-deposito{
    width: 70%;
    justify-content: flex-start;
}

.panel{

    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 1px rgb(204, 203, 203);
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 10px;
}


.panel-seccion-uno{
    width: 32%;
}

.panel-seccion-dos{
    width: 32%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.acciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 32%;
    justify-content: space-around;
}

.p-stock{

    margin-top: 31px;
    font-size: 50px;
    color: blue;
}

.p-nombre{
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
    
}

.p-codigo{
    margin-top: 15px;
    font-size: 20px;
}

.spanAgregar{
    width: 10%;
    height: 33px;
    margin-left: 20px;
}

.spanEditar{
    width: 50%;
    margin:auto;
}

.spanBorrar{
    width: 50%;
    margin:auto;
}

.form{
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 1px rgb(204, 203, 203);
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 10px; 
    margin-top: 15px;
}

.form-seccion1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-seccion2{
    width: 25%;
    margin-top: 15px;
}

.input-form{
    border: 1px solid gray;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.buttonAceptar{
    width: 90%;
    height: 25px;
    border: solid 1px ;
    border-radius: 5px;
    margin-bottom: 5px;
}

.buttonCancelar{
    width: 90%;
    height: 25px;
    border: solid 1px ;
    border-radius: 5px;
}