*{
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.h1-tp6{
    text-align: center;
    margin-bottom: 50px;
}

.contenedor-formularios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-formularios-seccion-uno{
    width: 30%;
    margin-right: 20px;
}

.contenedor-formularios-seccion-dos{
    width: 50%;
}

.form-registro{
    min-height: 200px;
    border: solid 2px grey;
    border-radius: 10%;
    box-shadow: 1px 1px 1px grey;
}

.form-login{
    min-height: 200px;
    border: solid 2px grey;
    border-radius: 10%;
    box-shadow: 1px 1px 1px grey;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: column;
}

.h2-form{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

input{
    width: 60%;
    height: 30px;
    align-self: center;
    text-align: center;
    font-size: 16px;
}

button{
    width: 30%;
    min-height: 30px;
    align-self: center;
    border: solid 2px grey;
    border-radius: 10%;
    box-shadow: 1px 1px 1px grey;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(201, 201, 201);
}

.mensajes{
    min-height: 200px;
}

.info-usuario-logeado{
    width: 100%;
    min-height: 100px;
    align-content: center;
    margin-top: 30px;
}

.p-info-usuario-logeado{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.contenedor-botones-usuario-logeado{
    min-height: 80px;
    display: flex;
    
    justify-content: space-around;
}

.mensajes{
    align-content: center;
}

.msj-error{
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.msj-exito{
    text-align: center;
    color: rgb(139, 179, 81);
    font-size: 30px;
    font-weight: bold;
}