html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #1a1a1a; /* Color de fondo oscuro */
    color: #ddd; /* Color de texto claro */
}

*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Fondo del contenedor principal */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}

h2 {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ccc; /* Color del texto de las etiquetas */
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #666; /* Borde más oscuro */
    border-radius: 5px;
    font-size: 16px;
    background-color: #444; /* Fondo del campo de entrada */
    color: #ddd; /* Color del texto del campo de entrada */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Escala ligeramente el botón al pasar el mouse */
}

.logout-btn {
    background-color: #f44336;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #e53935;
}

.info-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #555; /* Fondo del contenedor de información */
    border: 1px solid #777; /* Borde del contenedor de información */
    border-radius: 5px;
}

.info-container p {
    margin-bottom: 10px;
}

.message {
    color: #f44336;
    margin-top: 10px;
}

.logout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.registrar-btn {
    background-color: #2196F3; /* Color azul para registrar */
}

.registrar-btn:hover {
    background-color: #0b7dda; /* Color azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.login-btn {
    background-color: #FF9800; /* Color naranja para iniciar sesión */
}

.login-btn:hover {
    background-color: #e68a00; /* Color naranja más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

@media (max-width: 600px) {
    #root {
        max-width: 100%;
    }
}
