html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #f0f4f8;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#root {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form label {
        margin-bottom: 10px;
        font-size: 14px;
        color: #666;
        width: 100%;
    }

    form button {
        margin-top: 20px;
        background-color: #28a745;
    }

        form button:hover {
            background-color: #218838;
        }

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Más espacio entre los botones */
    margin-top: 20px;
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
}
