/*NavBar.css*/

nav {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  display: flex;
  justify-content: space-between; 
  padding: 0.5rem 1rem; 
  box-shadow: 0 0 20px var(--shadow);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative; 
  width: 100%; 
  max-width: 300px; 
}

.search-icon {
  position: absolute; 
  left: 0.5em; 
  color: #666;
  font-size: 1.2rem;
  pointer-events: none; 
}

.search-input {
  width: 100%; 
  padding: 0.5rem 0.5rem 0.5rem 2.5rem; 
  border-radius: 0.25rem;
  border: 1px solid var(--border);
  font-size: 1rem;
  box-shadow: 0 0 20px var(--shadow);
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch > svg {
  height: 1.5rem;
  width: auto;
}

.switch > label {
  position: relative;
  background-color: #ccc;
  width: 4rem;
  height: 1.6rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
}

.slider {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  transition: 0.5s;
  position: relative;
}

.check-switch:checked + .slider {
  transform: translateX(2.30rem);
}

/*Mobile L (425px)*/

@media (max-width: 505px){
  .search-icon {
    position: absolute; 
    top: 0.6em;
    left: 0.5em; 
    color: #666;
    font-size: 1.2rem;
    pointer-events: none; 
  }
  
  .search-input {
    width: 80%; 
    height: 80%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem; 
    border-radius: 0.25rem;
    border: 1px solid var(--border);
    font-size: 1rem;
    box-shadow: 0 0 20px var(--shadow);
  }
  
  .switch > svg {
    height: 1.3rem;
    width: auto;
  }

  .switch > label {
    width: 3.3rem;
    height: 1.4rem;
  }
  
  .slider {
    width: 1.1rem;
    height: 1.1rem;
  }

  .check-switch:checked + .slider {
    transform: translateX(1.8rem);
  }
}

/*Mobile M (375px)*/

@media (max-width: 405px){
  .search-icon {
    top: 0.6em;
    left: 0.5em; 
  }

  .search-input {
    width: 75%; 
    height: 75%;
    font-size: 0.8rem;
  }

  .switch > svg {
    height: 1.2rem;
    width: auto;
  }


  .switch > label {
    width: 3rem;
    height: 1.2rem;
  }
  
  .slider {
    width: 1rem;
    height: 1rem;
  }

  .check-switch:checked + .slider {
    transform: translateX(1.7rem);
  }
}

/*Mobile S (320px)*/

@media (max-width: 325px) {
  @media (max-width: 405px){
    .search-icon {
      position: absolute; 
      top: 0.5em;
      left: 0.5em; 
      color: #666;
      font-size: 1.1rem;
    }
  
    .search-input {
      width: 90%; 
      height: 70%;
      font-size: 0.8rem;
    }
  
    .switch > svg {
      height: 1.2rem;
      width: auto;
    }
  
  
    .switch > label {
      width: 3rem;
      height: 1.2rem;
    }
    
    .slider {
      width: 1rem;
      height: 1rem;
    }
  
    .check-switch:checked + .slider {
      transform: translateX(1.7rem);
    }
  }
}