body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #9EB384;
}

.contenedor-formularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #9EB384;
}

.h1-tp6 {
    margin-bottom: 20px;
}

h2 {
    margin: 10px;

}

.contenedor-formularios-seccion-uno {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #435334;
}

.form-registro, .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-registro, .button-login, .btn-ver-info, .btn-cerrar-sesion {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #435334;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button-registro:hover, .button-login:hover, .btn-ver-info:hover, .btn-cerrar-sesion:hover {
    background-color: #ffffff;
}

.mensajes {
    margin: 10px 0;
    text-align: center;
}

.msj-error {
    color: red;
}

.msj-exito {
    color: green;
}

.info-usuario-logeado {
    margin: 10px 0;
}

.contenedor-formularios-seccion-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #435334;
}

.contenedor-botones-usuario-logeado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
