body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    padding-left: 10px;
    align-content: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 20px;
}

.register-link button, .login-link button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.register-link button:hover, .login-link button:hover {
    text-decoration: underline;
}

.info-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.info-section button {
    margin: 10px;
}

.info-section .secret-info {
    text-align: left;
    margin-top: 20px;
}

.info-section .secret-info p {
    word-break: break-all;
}