body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 24px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.nombre{
    font-weight: bold;
}

.telefono{
    color: #d188b3;
}