/* Estilos base */
body {
    background-color: #e7e7e7; /* Fondo gris claro */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140%;
    max-width: 500px;
}

.container {
    background: #fff;
    padding: 1rem; /* Relleno incrementado para mayor altura */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    min-height: 400px; /* Altura mínima de la tarjeta */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0rem;
    width: 90%;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #000000;
    flex: 1;
}

.city-buttons {
    display: flex;
    gap: 0.3rem;
}

.city-buttons button {
    background-color: #e7e7e7;
    color: #0b87a6;
    border: none;
    padding: 0rem 0.2rem;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 0.7rem;
}

.city-buttons button:hover {
    background-color: #cccccc;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0;
    width: 100%;
    padding: 0 1rem;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    flex: 1;
}

.weather-info {
    margin-top: auto;
    text-align: left;
}

.weather-info h2 {
    text-align: left;
    color: #000;
    margin: 0;
    font-size: 1.5rem;
    padding: 0rem;
}

.weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.weather-icon img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.temperature {
    font-size: 1.2rem;
    color: #000;
}

.temperature p,
.humidity p,
.temp-max-min {
    margin: 0rem;
    color: #000000;
    font-size: 1rem;
}

.temperature p:not(:first-child),
.temp-max-min:not(:first-child) {
    display: inline-block;
    margin-left: 1rem;
}
