body {
    background-color:black;
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 0;
    height: 100px;
   
   
    

}

li
{
    list-style:none;
  
}
.lista
{
    width: 10px;
    height: 10px;
}


.agenda 
{
    color: antiquewhite;
    text-align:center;
    width:400px;
    height: 100px;
    background: rgb(53, 69, 93);
    margin: auto;
    margin-top: 1px;
    border-radius: 1px;
    border: 1px solid ;   
}
.agenda :hover
{
    color: black;
}
