body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #AD88C6, #53346d);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-formularios {
    max-width: 800px;
    width: 100%;
    padding: 70px;
    background: linear-gradient(to top, #f3c7c7, #ffeeee);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del contenedor */
}

.h1-tp6 {
    text-align: center;
    color: #7469B6; 
    margin-bottom: 20px;
}

.contenedor-formularios-seccion-uno {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-registro, .form-login {
    flex: 1;
    padding: 20px;
    background-color:rgba(229, 173, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(61, 9, 92, 0.5);
}

.h2-form {
    color: #7469B6; 
    margin-bottom: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #7469B6; 
    border-radius: 4px;
    font-size: 16px;
}

.button-registro, .button-login, .btn-ver-info, .btn-cerrar-sesion {
    padding: 10px;
    background-color: #7469B6; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button-registro:hover, .button-login:hover, .btn-ver-info:hover, .btn-cerrar-sesion:hover {
    background-color: #7469B6; 
}

.contenedor-formularios-seccion-dos {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff0f0; 
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mensajes {
    text-align: center;
    margin-bottom: 20px;
}

.msj-error {
    color: #ff3333; 
}

.msj-exito {
    color: #33cc33; 
}

.info-usuario-logeado {
    text-align: center;
    color: #666666; 
}

.contenedor-botones-usuario-logeado {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.btn-ver-info, .btn-cerrar-sesion {
    background-color: #66cc66; 
}

.btn-ver-info:hover, .btn-cerrar-sesion:hover {
    background-color: #99cc99; 
}
