body {
    background-image: url(/fondocontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Agenda {
    text-align: center;
    color: black;
    width: auto;
    height: auto;
    background-color: azure;
}

#contenedor {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

#conctacto {
    flex: 0 0 auto; 
    margin: 10px; 
    text-align: center;
    color: black;
    width: 250px;
    height: 150px;
    border-radius: 30px;
    background-color: azure;
}