html,body {
    background-color: #ccc;
    min-height:100vh;
}

#root {
    margin: 0 auto;
    max-width: 500px;
    
}
article{
    min-height:80vh;
    border-radius: 5px;
}
.li-clima > strong{
    font-size: 40px;
}

.p-nombre{
    font-size: larger;
    font-weight: bold;
}

.p-temperatura{
    font-size: larger;
    font-weight: bold;
}

.p-min-max{
    font-size: larger;
}

.p-humedad{
    font-size: larger;
}

.icono{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #add9e6d8;
    border-radius: 10px;
    margin-bottom: 20px;
}
.icono > img{
    width: 300px;
    height: 300px;

}