*{
    margin: 0;
    padding: 0;
    border: 0;
}

.body,#root {
    background-color: rgb(197, 193, 193);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;    
    min-height: 100vh;
}

.agenda{

    width: 100%;    
    min-height: 100vh;
    display: flex;  
    flex-direction: row;    
    flex-wrap: wrap;  
    justify-content: center;
}

.h1-agenda{
    width: 100%;
    text-align: center;
    margin: auto;
}

.contactos-container{
    width: 50%;
    display: flex;  
    flex-direction: row;    
    flex-wrap: wrap;

}

.contact-card{
    width: 100%;
    background-color: #f0f0f0;
    border: solid 1px blue;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.contact-card:hover{
    transform: scale(1.1);
}