body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 50px;

}


.contacto {
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      padding: 10px;
      margin: 10px;
}

#main {
    width: 350px;
    margin: 0 auto;
    background-color: aqua;
}